<div class="section--hotdeals">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel-bar">
          <div class="col-auto"><h4>Hot Deals</h4></div>
          <div class="col-auto dots">
            <ul>
              <li><a href="#" class="active"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="hotdeals-box">
          <main>
            <div class="photo">
              <img src="images/grey_sofa.jpg" alt="sofa" />
              <div class="buttons">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <ul class="time">
                <li><span>25</span> Days</li>
                <li><span>10</span> Hrs</li>
                <li><span>45</span> Mins</li>
                <li><span>30</span> Secs</li>
              </ul>
            </div>

            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"> <i class="far fa-eye"></i> </a>
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>

              <div class="price">
                <div class="old-price">$ 35.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <div class="col-sm-8 slider">
        <div>
          <div class="slider--slide">
            <img src="images/grey_sofa.jpg" alt="grey_sofa" />
            <div class="slider--hero">
              <h3 class="slider--title">Indoor <strong>Furniture</strong></h3>
              <p class="slider--desc">save up to 50% of all furniture</p>
              <a href="#" class="btn">Shop now</a>
            </div>
          </div>
          <div class="slider--nav">
            <button class="btn btn-prev"><i class="fas fa-chevron-left"></i></button>
            <button class="btn btn-next"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
