<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading">
          <h3>New furniture</h3>
        </div>
        <div class="w-100 border-0 d-block d-md-none"></div>
        <div id="nav-tab" class="col menu category-panel">
          <ul>
            <li><a href="#bed" class="active">Bed</a></li>
            <li><a href="#chair">Chair</a></li>
            <li><a href="#sofa">Sofa</a></li>
            <li><a href="#table">Table</a></li>
            <li><a href="#dining">Dining</a></li>
          </ul>
        </div>
        <div class="w-100 d-block d-md-none"></div>
        <div class="col-auto dots">
          <ul class="slider-pagination-dots" id="slider-pagination-dots">
            <li class="pagination-dot-li active"><a class="pagination-dot"></a></li>
            <li class="pagination-dot-li"><a class="pagination-dot"></a></li>
            <li class="pagination-dot-li"><a class="pagination-dot"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="bed">
      <div class="new-furniture-slider">
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/grey_sofa.jpg" alt="Grey sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>

              <div class="price">
                <div class="old-price">$ 35.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/red_sofa.jpg" alt="Red sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#">
                <img src="images/turquoise_sofa.jpg" alt="Turquoise sofa" />
              </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/beige_sofa.jpg" alt="Beige sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#">
                <img src="images/duck_sofa.jpg" alt="Sofa with yellow duck" />
              </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#">
                <img src="images/bears.jpg" alt="Sofa with small bears" />
              </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/sofa.jpg" alt="Classical grey sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/blue_sofa.jpg" alt="Blue sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="chair">
      <div class="new-furniture-slider-bed">
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/grey_sofa.jpg" alt="Grey sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>

              <div class="price">
                <div class="old-price">$ 35.00</div>
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/red_sofa.jpg" alt="Red sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#">
                <img src="images/turquoise_sofa.jpg" alt="Turquoise sofa" />
              </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline active"
                  ><i class="fas fa-exchange-alt"></i
                ></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/beige_sofa.jpg" alt="Beige sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#">
                <img src="images/duck_sofa.jpg" alt="Sofa with yellow duck" />
              </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#">
                <img src="images/bears.jpg" alt="Sofa with small bears" />
              </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/sofa.jpg" alt="Classical grey sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="product-box">
            <div class="photo">
              <div class="sale">sale</div>
              <a href="#"> <img src="images/blue_sofa.jpg" alt="Blue sofa" /> </a>
              <div class="buttons">
                <a href="#" class="btn-main-small">Quick View</a>
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
