<div class="section--brands container">
  <div class="brands-slider">
    <div class="row">
      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
          alt="Card image cap"
        />
      </div>

      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
          alt="Card image cap"
        />
      </div>

      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
          alt="Card image cap"
        />
      </div>

      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
          alt="Card image cap"
        />
      </div>

      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
          alt="Card image cap"
        />
      </div>

      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
          alt="Card image cap"
        />
      </div>

      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
          alt="Card image cap"
        />
      </div>

      <div>
        <img
          src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
          alt="Card image cap"
        />
      </div>
    </div>
    <button class="btn btn-prev"><i class="fas fa-chevron-left"></i></button>
    <button class="btn btn-next"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
