<div class="section--feedback">
  <div
    id="carousel-feedback"
    class="container carousel slide carousel-fade"
    data-ride="carousel"
  >
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul class="carousel-indicators">
            <li class="active" data-target="#carousel-feedback" data-slide-to="0">
              <a href="#" class="active"></a>
            </li>
            <li data-target="#carousel-feedback" data-slide-to="1"><a href="#"></a></li>
            <li data-target="#carousel-feedback" data-slide-to="2"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <i class="fas fa-quote-right"></i>
        <!--Carousel Wrapper-->
        <div>
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <figure>
                <blockquote cite="#">
                  Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita kasd
                  gubergren.
                </blockquote>
                <figcaption>
                  <img src="images/duck_sofa.jpg" alt="" />
                  <cite class="quote--author">
                    <h5>John Smith</h5>
                    <h6>Furniture client</h6>
                  </cite>
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item">
              <figure>
                <blockquote cite="#">
                  1C21onsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                  eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                  gubergren.
                </blockquote>
                <figcaption>
                  <img src="images/bears.jpg" alt="" />
                  <cite class="quote--author">
                    <h5>John Smith2</h5>
                    <h6>Furniture client2</h6>
                  </cite>
                </figcaption>
              </figure>
            </div>
            <div class="carousel-item">
              <figure>
                <blockquote cite="#">
                  3333onsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                  eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                  gubergren.
                </blockquote>
                <figcaption>
                  <img src="images/duck_sofa.jpg" alt="" />
                  <cite class="quote--author">
                    <h5>John Smith3</h5>
                    <h6>Furniture client3</h6>
                  </cite>
                </figcaption>
              </figure>
            </div>
          </div>
          <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
      </div>
    </div>
  </div>
</div>
