.new-furniture-slider {
  max-height: 520px;
  .slide {
    width: 25%;
  }
}

.product-box {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  &:hover {
    .photo {
      .sale {
        background-color: $primary;
      }

      .buttons {
        opacity: 1;
      }
    }

    .price {
      .btn-main-small {
        background-color: $primary;
      }
    }
  }

  .photo {
    .buttons {
      opacity: 0;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.photo {
  position: relative;
  background: {
    color: #f4f5f7;
    size: contain;
    position: center;
    repeat: no-repeat;
  }
  overflow: hidden;
  align-items: flex-end;

  .sale {
    position: absolute;
    top: -30px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    background-color: #292929;
    border-radius: 50%;
    color: #ffffff;
    padding: 30px 15px 5px 15px;
  }

  img {
    width: 100%;
    &:hover {
      opacity: 0.7;
    }
  }
}

.content {
  text-align: center;
  padding: 20px;

  h5 {
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  .stars {
    a {
      text-decoration: none;
      color: rgb(42, 42, 42);
      @extend .far;
      @extend .fa-star;

      &.full {
        color: $primary;
        @extend .fas;
      }
      &:hover ~ a {
        color: rgb(42, 42, 42);
        @extend .far;
        @extend .fa-star;
        @extend .fas;
      }
    }
    &:hover > a {
      color: $primary;
      @extend .fas;
    }
  }
}

.line {
  margin: 0 10px;
  border-bottom: 1px solid #2a2a2a;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 30px;
    border-bottom: 4px solid $primary;
    transform: translateX(-50%);
  }
}

.actions {
  padding: 15px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn-outline.active {
    border-color: $primary;
    background: $primary;
    color: #fff;

    &:hover {
      border-color: #000;
      background: #000;
    }
  }
  .price {
    display: flex;
    align-items: center;
  }
  .old-price {
    margin-right: 15px;
    font-weight: 100;
    text-decoration: line-through;
  }
}

.tab-pane {
  position: relative;
  display: none;
  animation: fadeEffect 1s;
}

.tab-pane.active {
  display: block;
}

.product-dots {
  position: absolute;
  z-index: 2;
  right: -15px;
  top: -58px;
}

.pagination-dot-li.tns-nav-active a {
  background-color: $primary;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
